.header {
  background: url('../images/desktop/image-header.jpg') no-repeat center;
  background-size: cover;
  min-height: 90vh;

  &__hero--text {
    padding: 0 3rem;
    text-align: center;
    transform: translateY(30%);
  }
}
